.user-dash-region{
    padding: 15px 12px;
    border-bottom: #EEEEEE solid 1px;
}

.payment-info-block{
    display: inline-block;
    width: 49%;
    border-left: #EEEEEE solid 1px;
}

.payment-info-block+.payment-info-block{
    border-left: #EEEEEE solid 1px;
    border-right: #EEEEEE solid 1px;
}

.payment-info-block h2{
    text-align: center;
    margin: 5px 0px;
}

.payment-info-block p{
    text-align: center;
    font-size: 30px;
}

.ads-wrapper li+li{
    margin-top: 5px;
}
